# Trello API connection
api_key='TRELLO_API_KEY'
api_secret='TRELLO_API_SECRET'
token='TRELLO_OAUTH_TOKEN'
token_secret='TRELLO_OAUTH_SECRET

# what to look for
org_name = "mumalab"
brd_name = "Newsletter"

debug = True
